.filter-bar {
  align-items: center;
  border-bottom: 1px solid var(--ACCENT-DARK-GREY-CLR);
  display: flex;
  font-size: 0.9rem;
  gap: 1rem;
  justify-content: space-between;
}

.filter-bar button {
  min-width: max-content;
}

.filters-container {
  align-items: flex-end;
  color: var(--ACCENT-LIGHT-GREY-CLR);
  display: flex;
  gap: clamp(1rem, 0.8rem + 2vw, 2rem);
  overflow-y: auto;
  scrollbar-width: none;
}

.filters-container::-webkit-scrollbar {
  display: none;
}

.filters-container > li {
  padding: 0.7rem 0;
}

.active-filter {
  border-bottom: 2px solid currentColor;
  color: var(--GREY-TEXT-CLR);
}

.new-category-btn {
  background: var(--ACCENT-DARK-GREY-CLR);
  font-size: 0.9em;
}
