.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.page-heading {
  color: var(--ACCENT-BLUE-CLR);
  font-family: "Cormorant Upright", serif;
  font-size: clamp(1.5em, 1.4em + 2vw, 3.3em);
  font-weight: 600;
}

.search-bar-container {
  --SEARCH-PADDING-X: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  position: relative;
}

.search-input {
  border: 1px solid #212325;
  border-radius: 5rem;
  padding: 0.8rem var(--SEARCH-PADDING-X);
}

.search-btn {
  color: var(--ACCENT-LIGHT-GREY-CLR);
  font-size: 1.2em;
  position: absolute;
  right: var(--SEARCH-PADDING-X);
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 428px) {
  .page-header {
    justify-content: center;
  }

  .page-heading {
    display: none;
  }
}
